<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright 2015, Tom Praschan
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tap.xkcd_reader" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_easy_xkcd"
        android:label="@string/app_name"
        android:theme="@style/DefaultTheme" >
        <activity
            android:name="de.tap.easy_xkcd.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="xkcd.com"
                    android:scheme="http" />
                <data
                    android:host="m.xkcd.com"
                    android:scheme="http" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="de.tap.easy_xkcd.GlideConfiguration"
                android:value="GlideModule" />
        </activity>
        <activity
            android:name="de.tap.easy_xkcd.SettingsActivity"
            android:label="@string/pref_title"
            android:parentActivityName="de.tap.easy_xkcd.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tap.easy_xkcd.MainActivity" />
        </activity>
        <activity
            android:name="de.tap.easy_xkcd.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName="de.tap.easy_xkcd.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.tap.easy_xkcd.MainActivity" />
        </activity>
    </application>

</manifest>
